$baseColor: #294B56;
$baseColorHover: #acd0e1;
$light-bg: #dee7ee;
$bright: white;
$dark: rgb(59, 60, 63);

/* Media queries */
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

@mixin btn($base, $hover, $textcolor) {

  padding: 0.5rem 1rem;
  background-color: $base;
  color: $textcolor;
  border: 1px solid $base;
  border-radius: 3px;

  &:hover {
    background-color: $hover;
    border: 1px solid $hover;
    transform: scale(1.1);
  }
}