@import "globals";

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: $baseColor;
  padding: 0 10%;
  color: $bright;

  .nav__logo {
    font-size: 1rem;
  }

  .nav_menu {
    ul {
      list-style: none;
      width: 40vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      @include btn($bright, $baseColorHover, $dark);
    }
  }

  @media screen and (min-width: $mobile){
    .nav_menu ul {
        width: 12rem;
    }
  }
}

