@import "globals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app__container {
  width: 80%;
  margin: 0 auto;
  color: $dark;
}

.btn--green {
  @include btn($baseColor, $baseColorHover, $bright)
}